
<div *ngIf="department">
    <h2><span jhiTranslate="hotManApp.department.detail.title">Department</span> {{department.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hotManApp.department.namedepartement">Namedepartement</span></dt>
        <dd>
            <span>{{department.namedepartement}}</span>
        </dd>
        <dt><span jhiTranslate="hotManApp.department.description">Description</span></dt>
        <dd>
            <span>{{department.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'department-hotpersonel/'+ department.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
