<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonelLabel" jhiTranslate="hotManApp.personel.home.createOrEditLabel">Create or edit a Personel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!personel.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="personel.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotManApp.personel.fistname" for="field_fistname">Fistname</label>
            <input type="text" class="form-control" name="fistname" id="field_fistname"
                [(ngModel)]="personel.fistname" required />
            <div [hidden]="!(editForm.controls.fistname?.dirty && editForm.controls.fistname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fistname?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotManApp.personel.lastname" for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                [(ngModel)]="personel.lastname" required />
            <div [hidden]="!(editForm.controls.lastname?.dirty && editForm.controls.lastname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastname?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hotManApp.personel.sexe" for="field_sexe">Sexe</label>
            <select class="form-control" name="sexe" [(ngModel)]="personel.sexe" id="field_sexe" >
                <option value="HOMME" jhiTranslate="hotManApp.Sexe.HOMME">HOMME</option>
                <option value="FEMME" jhiTranslate="hotManApp.Sexe.FEMME">FEMME</option>
            </select>
        </div>

        <div class="form-group">
            <label jhiTranslate="hotManApp.personel.fonction" for="field_fonction">Fonction</label>
            <select class="form-control" id="field_fonction" name="fonction" [(ngModel)]="personel.fonction">
                <option [ngValue]="null"></option>
                <option [ngValue]="fonctionOption.id === personel.fonction?.id ? personel.fonction : fonctionOption" *ngFor="let fonctionOption of fonctions; trackBy: trackFonctionById">{{fonctionOption.poste}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
