
<div *ngIf="codebadge">
    <h2><span jhiTranslate="hotManApp.codebadge.detail.title">Codebadge</span> {{codebadge.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hotManApp.codebadge.description">Description</span></dt>
        <dd>
            <span>{{codebadge.description}}</span>
        </dd>
        <dt><span jhiTranslate="hotManApp.codebadge.code">Code</span></dt>
        <dd>
            <span>{{codebadge.code}}</span>
        </dd>
        <dt><span jhiTranslate="hotManApp.codebadge.badges">Badges</span></dt>
        <dd>
            <div *ngIf="codebadge.badges">
                <a [routerLink]="['/badge', codebadge.badges?.id]">{{codebadge.badges?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'codebadge/'+ codebadge.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
