<div>
    <h2>
        <span jhiTranslate="hotManApp.reservation.home.title">Reservations</span>
        <button class="btn btn-primary float-right create-reservation" [routerLink]="['/', { outlets: { popup: ['reservation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="hotManApp.reservation.home.createLabel">
            Create new Reservation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hotManApp.reservation.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="reservations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="hotManApp.reservation.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="evenement"><span jhiTranslate="hotManApp.reservation.evenement">Evenement</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="hotManApp.reservation.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="debut"><span jhiTranslate="hotManApp.reservation.debut">Debut</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fin"><span jhiTranslate="hotManApp.reservation.fin">Fin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="duree"><span jhiTranslate="hotManApp.reservation.duree">Duree</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservation of reservations ;trackBy: trackId">
                <td><a [routerLink]="['../reservation', reservation.id ]">{{reservation.id}}</a></td>
                <td>{{reservation.name}}</td>
                <td>{{reservation.evenement}}</td>
                <td>{{reservation.date | date:'medium'}}</td>
                <td>{{reservation.debut | date:'medium'}}</td>
                <td>{{reservation.fin | date:'medium'}}</td>
                <td>{{reservation.duree}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../reservation', reservation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reservation/'+ reservation.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reservation/'+ reservation.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="reservations && reservations.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
